
.sidebar {
  position: fixed;
  width: 20%;
  height: 100%;
  background:  #35302D;
  font-size: 0.65em;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 40%;
  transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
  
  li {
    position: relative;
    margin: 3.2em 0;
    
    a {
      line-height: 5em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      color: rgba(#FFF, 0.35);
      display: block;
      transition: all ease-out 300ms;
    }
    
    &.active a {
      color: white;
    }
    
    &:not(.active)::after {
      opacity: 0.2;
    }
    
    &:not(.active):hover a {
      color: rgba(#FFF, 0.75);
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: black;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, grey, blue)
    }
  }
}

// *, :before, :after{ box-sizing: border-box; }
// // FONTS
// $sans: 'Source Sans Pro', Helvetica, Arial, sans-serif;

// // COLORS
// $orange: rgb(85, 81, 255);
// $gray: #35302D;
// $gray-shine: #3C3735;
// $white-off: #DFDBD9;

// // REUSABLE STYLES
// .unstyled{ list-style: none; 
//    width: 100%;
//   height: 100%;
//   a{ text-decoration: none; }
// }
// .list-inline{ overflow: hidden;
//   li{ float: left; }
// }

// // HEADER STYLES
// .header{
//   width: 100%;
//   height: 100%;
//     background: $gray;
// }

// // MAIN NAV
// .main-nav{
//   width: 100%;
//   height: 100%;
//   ul{
//     border-top: solid 1px $gray-shine;
//     width: 100%;
//     height: 100%;
//   }
  
//   li{
//     border-bottom: solid 1px $gray-shine;
//     justify-content: 'center';
    
//   }
  
//   a{
//     color: $white-off;
//     font: 200 1.125em $sans;
//     text{
//       align: center;
//       transform: lowercase;
//     }
    
//     &:hover{
//       color: #fff;
//     }
//   }
// }

// // HOVER SLIDE EFFECT
// .list-hover-slide{
//   width: 100%;
//   height: 100%;
//   li{
//     position: relative;
//     overflow: hidden;
//   }
  
//   a{
//     display: block;
//     position: relative;
//     z-index: 1;
//     transition: .35s ease color;
    
//     &:before{
//       content: '';
//       display: block;
//       z-index: -1;
//       position: absolute;
//       left: -100%; top: 0;
//       width: 100%; height: 100%;
//       border-right: solid 5px $orange;
//       background: $gray-shine;
//       transition: .35s ease left;
//     }
    
//     &.is-current,
//     &:hover{
      
//       &:before{
//         left: 0;
//       }
//     }
//   }
// }