.fixado {
    position: fixed;
}

.mr-3:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.espaca {
    padding: 10px;
    margin: 10px;
    align-items: center;
}

.espacaCartao {
    margin: 10px;
}

.grid-template-columns-1 {
    grid-template-columns: auto auto;
}

.grid {
    display: grid;
}

.item {
    text-align: center;
    font-size: 1.5em;
}